<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script src="/static/jscript.js"></script>

<div class="row">
  <div class="col-sm-2">aaaaa  </div>



<!--  =======================================-->

  <div class="col-sm-8">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#letmenavigate">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/update_info">LetMeSolve</a>
        </div>
        <div class="collapse navbar-collapse" id="letmenavigate">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">service 1</a></li>
                <li><a href="#">service 2</a></li>
                <li><a href="#">service 3</a></li>
              </ul>
            </li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
          <!-- <button class="btn btn-danger navbar-btn">Offers</button> -->

          <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Offers</button>


          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>


    </nav>

  </div>

  <div class="col-sm-2">

    <div class="col-md-12">
          <ul class="nav nav-pills nav-stacked" style="background-color:#CD5C5C;">
            <li class="active"><a href="#">Home</a></li>
            <div class="col-sm-4">
            <li><a href="#">Step 1</a></li>
            </div>
            <div class="col-sm-4">
            <li><a href="#">Step 2</a></li>
            </div>
            <div class="col-sm-2">
            <li><a href="#">Step 3</a></li>
            </div>
            <div class="col-sm-2">
            <li><a href="#">Step 4</a></li>
            </div>
            <div class="col-sm-2">
            <li><a href="#">Step 5</a></li>
            </div>
            <div class="col-sm-2">
            <li><a href="#">Summary</a></li>
            </div>

          </ul>
        </div>


  </div>




</div>
