<html>
<head>
<title>Please update your Details</title>
</head>

<body>
You are:
<br />
<select name="salutation">
<option>Mr</option>
<option>Conel</option>
<option>Mrs</option>
<option>ms</option>
</select><br />

Name:
<br />
<input type="text" name="Name" /><br />

I'm a:<br />
<input type="radio" name="degree" value="graduate" /> Graduate <br />
<input type="radio" name="degree" value="post graduate" /> Post Graduate <br />
<input type="radio" name="degree" value="under graduate" /> Under Graduate <br />

I like:<br />
<input type="checkbox" name="hobby" value="music" /> Music
<input type="checkbox" name="hobby" value="browse" /> Browsing
<input type="checkbox" name="hobby" value="football" /> Football
<input type="checkbox" name="hobby" value="talk" /> Talking <br />

</html>
