<html>

<head>

<title>JYOTHISH</title>

</head>

<body style="background-color:#CD5C5C">

<h1 style="font-size:40px; color:30D4B9">About Jyothish</h1>

<p style="font-size:30px; color:69D430">Born and brought up from Ponkunnam, a beautiful village in Kottayam district.
 I'm a Btech graduate and completed the course from College of Engineering Attingal.<br />I'm an IT professional.
 I started my career as a Linux Server Administartor with HashRoot technologies.<br />Currently working as a DevOps Enginner at Hifx IT & Media services.
 I have a font of listening to music and very intrested in Sports activities.</p>

</body>

<br />

<a href="form" style="color:30D4B9; font-size:30px" target="_blank"> Update Your Details </a><br /><br />

<a href="links" style="color:30D4B9; font-size:30px" target="_blank"> More About Jyo </a><br />

</html>
