<!--
<html>
<body>
  <h1> Please update your info</h1>

  <form action='' method="POST">
    NAME:<br />
    <input type="text" name="name" placeholder=""><br />
    DOB:<br />
    <input type="text" name="birthday" placeholder="07-01-1990" required><br />
    EMAIL:<br />
    <input type="text" name="id" placeholder="user@xyz.com" required><br /><br />
    <input type="submit" name="get-info" value="Submit">
</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>uupdate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Please update your info</h2>
  <form action="" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="u_name" placeholder="Enter your Name" name="name" required>
      </div>
    <div class="form-group">
      <label for="dob">DOB:</label>
      <input type="text" class="form-control" id="u_birth" placeholder="07-01-1990" name="birthday" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="u_mail" placeholder="user@domain.com" name="id" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember" disabled> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default" name="get-info">Submit</button>
  </form>
</div>

</body>
</html>
